<mat-card class="mat-elevation-z8" class="card-container">
  <img mat-card-image src = "../../assets/cup-of-coffee.jpg" > 

</mat-card>



<mat-card   class="card-container1">
 

  <mat-card  class="example-card1" >
    <div fxLayout="row">
      <div *ngIf="!deviceXs" >
        <img style="height: 315px;
        width: 637px" mat-card-image src = "../../assets/emile-perron-xrVDYZRGdw4-unsplash.jpg" > 
      </div>
     

     <div style="padding-block-start: 60px;
     padding-inline-start: 38px;">
      <h1 style="color: black; font-size:30px;"> Hello Buddy ....Are you fresher...Don't know where to start.  </h1>
      <h6 style="color: black; font-size:20px;">Learn
    | Resume Writing | Interview  Preparation  | Aptitude Questions 
         </h6>
         <button mat-raised-button   [routerLink]="['freshers']" color="accent">Explore It</button>
    </div>
    </div>
   
  
   </mat-card>  
   
    
   
</mat-card>


<mat-card  class="card-container2">
  
    <mat-card  class="example-card1" >
      <div   fxLayout="row">
        <div *ngIf="!deviceXs" style="height: 316px;
        width: 640px">
          <img style="height: 316px;
          width: 633px" mat-card-image src = "../../assets/ben-kolde-bs2Ba7t69mM-unsplash.jpg" > 
        </div>
       
  
       <div style="padding-block-start: 60px;
       padding-inline-start: 38px;">
        <h1 style="color: black; font-size:30px;"> Hello there ....Are you Java Developer  </h1>
        <h6 style="color: black; font-size:20px;">Learn
           Java | Maven | Low Level Design | Design Pattern | SpringBoot | Hibernate | Gradle 
           </h6>
           <button mat-raised-button  [routerLink]="['java']" color="accent">Explore It</button>
      </div>
      </div>
     
    
     </mat-card>  

   

   
    
    
</mat-card>


<mat-card  class="card-container3">


  <mat-card  class="example-card1" >
    <div fxLayout="row">
      <div *ngIf="!deviceXs">
        <img  style="    height: 316px;
        width: 633px;" mat-card-image src = "../../assets/alex-kotliarskyi-ourQHRTE2IM-unsplash.jpg" > 
      </div>
      

     <div style="padding-block-start: 60px;
     padding-inline-start: 38px;">
      <h1 style="color: black; font-size:30px;"> Hello there ....Are you Full stack Developer  </h1>
      <h6 style="color: black; font-size:20px;">Learn |HTML/CSS |  JavaScript| Git and GitHub | HTTP and REST |
        Database storage| Web architecture | Basic design skills| Soft skills </h6>
         <button mat-raised-button   [routerLink]="['springboot']" color="accent">Explore It</button>
    </div>
    </div>
   
  
   </mat-card>  

   
    
  
    
</mat-card>

<mat-card  class="card-container4 ">

  <mat-card  class="example-card1" >
    <div fxLayout="row">
      <div>
        <button   mat-button><mat-card-title>Links </mat-card-title></button>
        <div >
            <button   mat-button>About Us</button>
            <button  mat-button  >Contact Us</button>
            <button  mat-button >Privacy Policy</button>
            <button mat-button >Advertise </button>
            <button    mat-button>Sponsored Posts</button>
        </div>
      </div>
     

     <div >
      <button   mat-button><mat-card-title>Stay in tune </mat-card-title></button>
       <div>
        <button   mat-button>  <a href="#" class="fa fa-twitter"></a>TWITTER</button>
        <button  mat-button  > <a href="#" class="fa fa-youtube"></a>GITHUB</button>
        <button  mat-button ><a href="#" class="fa fa-linkedin"></a>LINKEDIN</button>
        <button   mat-button>  <a href="#" class="fa fa-twitter"></a>TWITTER</button>
        <button  mat-button  > <a href="#" class="fa fa-youtube"></a>GITHUB</button>
        <button  mat-button ><a href="#" class="fa fa-linkedin"></a>LINKEDIN</button>
       </div>
     
    </div>
    </div>

  

</mat-card>